@model UpdateServiceVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Service Table</h4>

            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Image"></label>
                   <img style="width:250px;height:250px;" src="~/img/services/@Model.Image" />
                    <input accept="image/*" hidden="hidden" asp-for="Image" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Photo" for="exampleInputUsername1">Photo</label>
                    <input asp-for="Photo" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input asp-for="Name" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input asp-for="Description" class="form-control"  placeholder="Description">
                </div>

                <button type="submit" class="btn btn-primary me-2">Update</button>
                <a asp-action="index" asp-controller="service" asp-area="admin" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
</div>
